*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1E1530;
}
form{
  display: flex;
  justify-content:center;
  margin-top: 25px;
  gap: 10px;
}
form ::placeholder{
  color: #ffffff;
}
form input{
  background-color: #382952;
  width: 500px;
  height: 48px;
  border-radius: 7px;
  color: #ffffff;
  padding-left: 25px;
}
form button{
  width: 100px;
  background-color: #382952;
  color: #ffffff;
  border-radius: 7px;
  transition: 0.3s;
}
form button:hover{
  background-color: rgba(254, 254, 255, 0.822);
  cursor: pointer;
  color: #1E1530;
}
.todoList{
  margin: 0 auto;
  width: 700px;
  height: 48px;
  color: #ffffff;
  margin-top: 50px;
}
.lists{
  display: flex;
  gap: 15px;
}
.lists h4{
  width: 100px;
  height: 20px;
  background-color: #382952;
}